{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
	    <!--[if lt IE 8]>
	        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	    <![endif]-->
	    <header>
	        {% block header %}
			<div class="navigation">
		    	<div class="header-inner">
		    		<nav>
		    			<ul>
		    				<li><a href="#about-me">About</a></li>
		    				<li><a href="#my-work">My Work</a></li>
		    				<li><a href="#blog">Blog</a></li>
		    				<li><a href="#contact">Contact</a></li>
		    			</ul>
		    		</nav>
		    	</div>
			</div>

				<h1>Kevin Croake</h1>
	
	        {% endblock %}
	    </header>


			{% block content %}
	   		{% endblock %}

		{% block footer %}
		    <footer id="footer">
		        {% include 'footer.twig' %}
		    </footer>
		    {{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
