{% extends "base.twig" %}

{% block content %}
<section id="about-me" class="about">
	<div class="wrapper">
	{{post.content}}
	</div>
</section>
<section id="my-work" class="work">
	<div class="wrapper">
	<h1>My Work</h1>
	<div class="grid">
		<figure><img src="http://placehold.it/480x360/056571/CCDFCB"/><figcaption><h2>Backyard Cider</h2><p>Logo, Branding, &amp; Environment </p></figcaption><a href=""></a></figure>
		<figure><img src="http://placehold.it/480x360/056571/CCDFCB"/><figcaption><h2>Backyard Cider</h2><p>Logo, Branding, &amp; Environment </p></figcaption><a href=""></a></figure>
		<figure><img src="http://placehold.it/480x360/056571/CCDFCB"/><figcaption><h2>Backyard Cider</h2><p>Logo, Branding, &amp; Environment </p></figcaption><a href=""></a></figure>
	</div>
</div>
</section>
{% endblock %}
