{% extends "base.twig" %}

{% block content %}
<!-- <section id="about-me" class="about">
	<div class="wrapper">
	{{post.content}}
	</div>
</section> -->
{% if works %}
<section id="my-work" class="work">
	<div class="wrapper">
	<h1>My Work</h1>
	<div class="grid">
		{% for work in works %}
		<figure><img src="http://placehold.it/480x360/056571/CCDFCB"/><figcaption><h2>Backyard Cider</h2><p>Logo, Branding, &amp; Environment </p></figcaption><a href=""></a></figure>
		{% endfor %}
	</div>
</div>
</section>
{% endif %}

<section id="my-blog" class="blog{% if not works %} gray {% endif %}">
	<div class="wrapper">
		<h1>Blog</h1>
		<div class="posts">
			<ul>
				{% for post in posts %}
					{% include ['inc-post.twig'] %}
				{% endfor %}
			</ul>
		</div>
	</div>
</section>


<section id="contact-me" class="contact">
	 <div  class="wrapper">


        <form id="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://kevincroake.wufoo.com/forms/z14jxn5u17sjjct/#public">

                <h1>Contact</h1>

                <div>
                    Want to work with me? Awesome! Send me a message!
                </div>


            <ul>
                <li id="foli3" class="notranslate">
                    <label class="desc" id="title3" for="Field3">Name</label>

                    <div>
                        <input placeholder="Name" id="Field3" name="Field3" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="">
                    </div>
                </li>

                <li id="foli4" class="notranslate">
                    <label class="desc" id="title4" for="Field4">Email</label>

                    <div>
                        <input placeholder="Email" id="Field4" name="Field4" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2">
                    </div>
                </li>

                <li id="foli5" class="notranslate">
                    <label class="desc" id="title5" for="Field5">Message</label>

                    <div>
                        <textarea placeholder="Message" id="Field5" name="Field5" class="field textarea medium" spellcheck="true" rows="5" cols="50" tabindex="3" onkeyup="">
</textarea>
                    </div>
                </li>

                <li class="buttons">
                    <div>
                        <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit">
                    </div>
                </li>

                <li class="hidden"><label for="comment">Do Not Fill This Out</label>
                <textarea name="comment" id="comment" rows="1" cols="1">
</textarea> <input type="hidden" id="idstamp" name="idstamp" value="LGnrkvQLbsJ17mU/59hrsmu7sy7AhvMuDxbxYxSwmu0="></li>
            </ul>
        </form>
    </div><!--container-->
    <a class="powertiny" href="http://www.wufoo.com/" title="Powered by Wufoo" style="display:block !important;visibility:visible !important;text-indent:0 !important;position:relative !important;height:auto !important;width:95px !important;overflow:visible !important;text-decoration:none;cursor:pointer !important;margin:0 auto !important"><span style="background:url(./images/powerlogo.png) no-repeat center 7px; margin:0 auto;display:inline-block !important;visibility:visible !important;text-indent:-9000px !important;position:static !important;overflow: auto !important;width:62px !important;height:30px !important">Wufoo</span> <b style="display:block !important;visibility:visible !important;text-indent:0 !important;position:static !important;height:auto !important;width:auto !important;overflow: auto !important;font-weight:normal;font-size:9px;color:#777;padding:0 0 0 3px;">Designed</b></a>
</section>
{% endblock %}
