{% extends "base.twig" %}

{% block content %}
<section class="hero">
	<h1><span>Kevin</span>Croake</h1>
	<div class="wrapper">
		<div class="about-me">
			<p>Please excuse the dust, I am working on the website. Feel free to send <a href="mailto:kevincroake.com">me</a> an email.</p></div>
	</div>
</section>


{% endblock %}
