@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import 'parts/normalize.scss';
@import 'parts/font.scss';
@import 'parts/globals.scss';
@import 'parts/helpers.scss';
$greatestThing: false !default;
@if $greatestThing == true or $greatestThing == yes {
	*{
		outline: 1px solid rgba(0,0,0,.2);
	}
}


/* ========================================================================== */
/* Author's custom styles */
/* ========================================================================== */

@import 'modules/header.scss';

@import 'modules/hero.scss';

@import 'modules/about.scss';

@import 'modules/work.scss';



.blog{
	padding: 2rem 0;
	margin: 1rem 0;
	background: #ECECEC;
	h2{
		font-size: 2.75em;
		text-transform: uppercase; 
	}
	ul{
		li{
			@include span-columns(6);
			background: #fff;
			box-sizing: border-box;
			padding: 2em;
			// time{
			// 	color:
			// }
			h3{
				font-size: 2em;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 10px;
				letter-spacing: .05em;
			}
			p{
				font-size: 1.25em;
			}
		}
	}
}

.contact{
	ul{
		@include span-columns(10);
		@include shift(1);
		li{
			label{
				display: none;
			}
			input[type='text'], input[type='email']{

			}
			&:first-child, &:nth-child(2){
				@include span-columns(4 of 8);
				@include omega(2n);
			}
		}
	}
}


@import 'modules/weekend.scss';
@import 'modules/hello-world.scss';




/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

//@import 'parts/print.scss';
