header{
	position: absolute;
	width: 100%;
	top: 0;
	.header-inner{
		@include outer-container;
	}
	.logo{
		@include span-columns(4)
		@include pad(20px);
		a{
			//background: url(../svg/logo.svg) no-re
			svg{
				max-width: 100px;
				height: auto;
				outline: 1px solid pink;
			}
		}
	}
	nav{
		@include span-columns(8);

		ul{
			float: right;
			text-align: right;
			li{
				display: inline-block;
				a{
					padding: 20px;
					display: block;
					font-weight: 400;
					font-size: 18px;
				}
			}
		}
	}
}
