header{
	width: 100%;
//position: absolute;
//border-bottom:1px solid rgba($gray,.75);
	box-shadow: inset 0px 0px 5px rgba(0,0,0,.5);
	background-image: url(../img/white_carbon.png);

	&.fixed{
		@include position(fixed, -50px auto auto auto);
		@include transition(all .5s ease-out);
	}
	&.flipin{
		top: 0;
		position: fixed;
	}

	.header-inner{
		@include outer-container;
	}
	h1{
		text-transform: uppercase;
		text-align: center;
		line-height: .5;
		font-size: 10.5vw;
		margin: 0;
		font-weight: 700;
		letter-spacing: .075em;
	}
	.navigation{
		position: relative;
		width: 100%;
		top: 0; left:0;
		z-index: 9999;
		background: rgba(#fff,.8);

	}
	nav{
		@include span-columns(12);
		ul{

			@include display(flex);
			@include flex-direction(row);
			@include justify-content(center);
			@include flex-wrap(wrap);
			li{
				 @include align-items(flex-start);
				 text-align: center;
				 margin: 0 2em;
				 a{
					 font-size: .875em;
					 line-height: 1;
					 padding: .9em .5em 1em;
					 font-family: $head;
					 display: block;
					 text-transform: uppercase;
					 font-weight: 700;
					 color: $gray;
					 //border-bottom: 4px solid transparent;
						&:hover{
							//border-bottom: 4px solid $green;
							color: #FFF;
							background: $green;
						}
				 }
			}
		}
	}
}
/* header{
	//position: absolute;
	width: 100%;
	margin: 10px 0 0 0;
	.header-inner{
		@include outer-container;
	}
	.logo{
		@include span-columns(4);
		@include pad(20px);
		a{
			word-spacing: 0;
			text-transform: uppercase;
			color: $d-gray;
			font-weight: 700;
			font-size: 24px;
			span{
				color: $green;
			}
		}
	}
	nav{
		@include span-columns(8);

		ul{
			float: right;
			text-align: right;
			margin: 15px 0 0 0;
			li{
				display: inline-block;
				margin: 0 20px;
				a{
					padding: 10px 4px;
					display: block;
					text-transform: uppercase;
					font-weight: 700;
					color: $gray;
					font-size: 18px;
					border-bottom: 4px solid transparent;
					&:hover{
						border-color: $gray;
						color: $green;
					}
				}
			}
		}
	}
}

//Borders
.border{
	background: #30d683;
	position: fixed;
	z-index: 100;
	&.top{
		top: 0;
		height: 10px;
		width: 100%;
	}
	&.bottom{
		bottom: 0;
		height: 10px;
		width: 100%;
	}
	&.left{
		height: 100%;
		width: 10px;
		left: 0;
	}
	&.right{
		height: 100%;
		width: 10px;
		right: 0;
	}
}
*/
