.work{
	background: $lighter-gray;
	padding: 30px 0;
	margin: 7em 0 0;
	.grid{
		 @include span-columns(12);
		 @include media($mobile) {
			 @include span-columns(4);
		 }

		 text-align: center;
		figure{
			background: #fff;
			margin: 0;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			min-width: 320px;
			max-width: 480px;
			max-height: 360px;
			@include span-columns(3 of 12);
			@include omega(3n);
			 margin-bottom: 30px;
				img{
					position: relative;
					display: block;
					min-height: 100%;
					width: 100%;
					height: auto;
					max-width: none;
					width: -webkit-calc(100% + 20px);
					width: calc(100% + 20px);
					-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
					transition: opacity 0.35s, transform 0.35s;
					-webkit-transform: translate3d(-10px,0,0);
					transform: translate3d(-10px,0,0);
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
				}
				a{
					display: block;
				}

				h2{
					position: relative;
					overflow: hidden;
					padding: 0.5em 0;

				}


		}
	}
}
